<div class="jumbotron">
<center><h1>The Planets of the Solar System</h1><center>
<p>Learn about all the planets including Pluto</p>
</div>
<div class="container"><
  <br><center><%=image_tag("planets.jpg", alt: "Solar System")%><center><br>
       <body>
      <p> The Solar System comprises of the Sun and the objets that orbit it, whether they orbit it directly 
      or by orbiting other objects that orbit it directly.  Of those objects that orbit the Sun directly, the 
      largets eight are the planets tha form the planetary system around it, while the remainder are significantly 
      smaller objects, such as dwarf planets and small Solar System bodies such as comets and asteroids.</br>

      <br>The Solar System formed 4.6 billion years ago from the gravitational collapse of a giant molecular cloud
      The vast majority of the system;s mass is in the Sun, with most of the remaining mass contained in Jupiter.
      The four smaller inner planets, Mercury, Venus, Earth and Mars also called the terrestrial planets, are 
      primarily composed of rock and metal.  The four outer planets, called the gas giants, are substantially more
      massive than the terrestrials.  The two largesy, Jupiter and Saturn, are composed mainly of hydrogen and helium;
      the two outersost planets, Uranus and Neptune, are composed largely of substances with relatively high melting 
      points (compared with the hydrogen and helium), called ices, such as water, ammonia, and methane, and are often 
      referred to separately as "ice giants".  all planets have almost circular orbits that lie withing a nearly flat 
      disc called the ecliptic plane.</br>

      <br>The Soalr System also contains regions populated by smaller objects.  the asteroid belt, which lies between Mars 
      and Jupiter, mostly contains objects composed, like the terrestial planets, of rock and metal.  Beyonf Neptune's
      orbit li the Kuiper belt and scattered disc, linked populationsof trans-Neptunian objects composed mostly of ices.
      Within these populations are several dozen to more than ten thousand objects that may be large enough to have been 
      rounded by their own gravity.  Such objects are referred to as dwarf plants.  Identified dwarf planets include the
      asteroid Ceres and the trans-Neptunian objects Plito and Eris.  In addition to these two regions, various other 
      small-body populations, including comets, centaurs and interplanetary dust, freely travel between regions. Six of 
      the planets, at least three of the dwarf plents, and many smaller bodies are orbitied b natural satelites, usually
      termed "moons" after Earth's Moon.  Each of the outer planet is encircled by planetary rings of dust and other 
      small objects.</br>

      <br> The soalr wind, a flow of plasma from the Sun, breates a bubble in the interstellar medium know as the heliosphere, 
      which extends out to the edge of the scattered disc.  The Oort cloud, which is believed to be the source for long-
      period comets, may also exist at a distance roughly a thousand times further than the heliosphere.  The heliopause
      is the point at which pressure from teh solar wind is equal to the opposinf pressure of interstellar wind.  The 
      Solar System is located in the Orion Arm, 26,000 light years away from the Milky Way.</br>

      for many thousands of years, humaity, with a few notable exceptions, did not recognize the existence of the Solar 
      System.  People believed Earth to be stationay at the center of the universe and categorically different from the 
      divine or ethereal objects that moved theough the sky.  Although Greek philosopher Aristarchus of Samos had 
      speculated on a helicentric reordering of the cosmos, Nicolaus Copernicus was the first to develop a mathematically
      predictice heliocentric system. In the 17th-century, Galileo Galilei, Johannes Kepler and Issac Newton, developed an
      understanding of physics that led to the gradual acceptance of the idea that Earth moves around the Sun and that the 
      planets are governed by the same physical laws that governed Earth.  The invention of the telescope led to the 
      discovery of furher planets and moons.  Improvements in the telescope and the use of unmanned spacecraft have enabled
      the investigation of geological phenomena, such as moutains, craters, seasonal meterological phenomena, such as clouds,
      dust storms and ice caps on the other planets.<p>
    </div>
    <body>


